


.about {
    background-color: #d74680;
    padding: 120px 0px;
    &__top {
        text-align: center;
        margin-bottom: 71px;
    }

    &__title {
    }

    &__subtitle {
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        margin: 0px -50px 130px -50px;
        &:last-child {
            margin-bottom: 0;    
        } 

    }

    &__column {
        flex: 0 1 50%;
        padding: 0px 50px;
        // &:last-child {
        //     padding-right: 0;
        // }
    }
}

@media (max-width: 1000px) {
    .about {
        &__row {
            margin: 0px -30px 80px -30px;
        }
        &__column {
            padding: 0px 30px;
        }
    }
}

@media (max-width: 700px) {
    .about {
        &__row {
            flex-direction: column;
            margin-bottom: 0px;
        }
    }
}

.comment {
    display: flex;
    &__left {
        padding-right: 50px;
    }

    &__avatr {
        width: 96px;
        height: 96px;
        background-color: #787878;
        border-radius: 50%;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }

    &__right {

    }

    &__text {
        color: #ffffff;
        font-family: "Titillium Web";
        font-size: 21px;
        line-height: 31.2px;
        letter-spacing: 0.35px;
        margin-bottom: 28px;
    }

    &__name {
        color: #ffffff;
        font-family: "Titillium Web";
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.48px;
        margin-bottom: 8px;
    }

    &__post {
        color: #ffdd99;
        font-family: "Titillium Web";
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.36px;
    }
}

@media (max-width: 1000px) {
    .comment {
        flex-direction: column;
        align-items: center;
        &__left {
            padding: 0 0 25px 0;
        }
        &__right {
            text-align: center;
        }
    }
}

@media (max-width: 700px) {
    .comment {
        margin-bottom: 50px;
        &__right {
            padding: 0px 15%;
        }
    }
}

@media (max-width: 600px) {
    .comment {
        &__right {
            padding: 0px 4%;
        }
    }
}
