



.portfolio {
    background-color: #ffdd99;
    padding: 110px 0px;
    &__head {
        text-align: center;
        margin-bottom: 65px;
    }

    &__titile {
        color: #393939;
    }

    &__subtitle {
        color: #393939;
        margin-bottom: 42px;
    }

    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__body {
        text-align: center;
        position: relative;
    }

    &__row {
        // position: absolute;
        // хочу сделать анимашку, но не монимаю как???
        // display: none;
        visibility: hidden;
        opacity: 0;
        display: flex;
        position: absolute;
        z-index: 5;
        // display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0px -10px;
        // transition: all 0.5s ease 0s;
        
        &_active {
            position: relative;
            visibility: visible;
            opacity: 1;
            z-index: 6;
            transition: all 1s ease-in-out 0s;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 0px 10px;
        margin-bottom: 65px;
    }

    &__button {
        background-color: #17c2a4;
        border-bottom: 4px solid #14a58b;
        margin-top: 15px;
    }
}

@media (max-width: 700px) {
    .portfolio {
        &__row {
            flex-direction: column;
            align-items: center;
        }
        &__column {
            flex: 0 1 100%;
            text-align: center;
        }
    }
}

.sait {
    text-align: center;
    &__img {
        margin-bottom: 32px;
        img {
            max-width: 100%;
            display: block;
        }
    }

    &__name {
        color: #393939;
        font-family: "Titillium Web";
        font-size: 18px;
        font-weight: 400;
        line-height: 19.5px;
        text-transform: uppercase;
        letter-spacing: 0.36px;
    }
}
.navbar {

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;

        flex-wrap: wrap;
        &:last-child {
            margin-bottom: 0;
        }

        li {
            margin: 0px 5px 10px 5px;

            // &:first-child {
            //     margin-left: 0;
            // }
            // &:last-child {
            //     margin-right: 0;
            // }
        }
    } 

    // &__bg {
    //     cursor: pointer;
    //     // margin: 0px 10px;
    //     // padding: 0px 27px;
    //     width: 200px;
    //     height: 38px;
    //     border-radius: 3px;
    //     background-color: #ebcb8d;

    //     &:first-child {
    //         margin-left: 0;
    //     }
    //     &:last-child {
    //         margin-right: 0;
    //     }
    //     &:nth-child(4) {
    //         // margin: 0px 100% 0px 0px;
    //     } 
        
    //     &:hover {
    //         background-color: #fff;   
    //     }
    //     &_active {
    //         background-color: #ffffff;
    //     }
    // }

    &__list-item {
        cursor: pointer;
        margin: 0px 5px 10px 5px;
        padding: 0px 27px;
        height: 38px;
        border-radius: 3px;
        background-color: #ebcb8d;

        // margin-bottom: 10px;
        // margin: 0px 10px 10px 0px;
        

        transition: all 0.3s ease-in-out 0s;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
            // margin-right: 0;
        }
        &:nth-child(4) {
            // margin: 0px 100% 0px 0px;
        } 
        
        &:hover {
            background-color: #fff;   
        }
        &_active {
            background-color: #ffffff;
        }

        // display: flex;
        // justify-content: center;
        // flex: 0 1 25%;
        // &:first-child {
        //     display: flex;
        //     justify-content: flex-end;
        // }
        // &:last-child {
        //     display: flex;
        //     justify-content: flex-start;
        // }
    }

    &__link {
        line-height: 38px;
        color: #393939;
        font-family: "Titillium Web";
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.36px;
        transition: all 0.3s ease-in-out 0s;

        cursor: pointer;
        // margin: 0px 5px 10px 5px;
        padding: 0px 27px;
        height: 38px;
        border-radius: 3px;
        background-color: #ebcb8d;
        height: 41px;
        line-height: 41px;
        display: block;

        &_active {
            background-color: #ffffff;
        }
        &:hover {
            background-color: #fff;   
        }
    }
}
